<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="Cmder" />
  <package id="maven" />
  <package id="notepadplusplus.install" />
  <package id="vcredist2010" />
</packages>